nav{
    justify-content: center;
}
.list {
    display: flex;
    list-style: none;
    background-color: blueviolet;
    width: 71rem;
    height: 100px;
    font-size: 30px;
}

.list li {
    margin-right: 200px;
}
.submenu{
    display: none;
    position: absolute
}
.submenu-item:hover .submenu {
    padding-top: 1rem;
    display: block;
    list-style: none;
    background-color: blue;
}



